<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find grid_stair_arena)/world/random_objects_random_pose.world"/>
      <arg name ="verbose" value = "true" />
      <arg name ="paused" value = "false" />
      <arg name ="use_sim_time" value = "true" />
      <!-- more default parameters can be changed here -->
    </include>
  </launch>
